.container{

    background-color: white;
    border-radius: 0.25rem;
    padding: 0 0 10px 0;
    margin: 10px auto;
    max-width: 93%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

input{

    border: none;
    text-align: center;
}

.row{
    margin: 20px;
}

.add{
    color: whitesmoke;
    border-color: rgb(80, 242, 185);
    text-decoration: none;
    background-color: rgb(80, 242, 185);;
}

.add:hover{
    background-color: rgb(80, 200, 150);
}

.visibilidad{
    display: block;
}
.invisibilidad{
    display: none;
}
