<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-7">
        <form action="" class="text-white">
          <div class="form-group">
            <label class="form-label">Tropilla</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="tropillas.tropilla">
        </div>
          <div class="form-group">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="tropillas.nombre">
          </div>
          <div class="form-group">
            <label class="form-label">Empresa</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="tropillas.empresa">
        </div>
        <div class="form-group">
            <label class="form-label">Alta</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="tropillas.alta">
        </div>
          <div class="form-group text-center"><br>
            <button (click)='postTropilla(tropillas)' class="btn btn-lg btn-outline-secondary text-white h6">Alta de la Tropilla</button>
          </div>
        </form>
        <br><br>
      </div>
    </div>
  </div>
