<h5 class="text-capitalize text-warning">tabla animales</h5>
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-end">
        <input class="form-control" type="search" [(ngModel)]="filterPost" placeholder="Search" name="filterPost" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">
            <fa-icon [icon]="buscar" class="text-dark"></fa-icon>
        </span>
    </div>
</div><br>
<div style="max-height:60vh; overflow-y: scroll;" id="table" class="table-editable">
    <table class="table table-dark table-responsive-sm" id="tablaprueba">
        <thead class=" text-center">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">IDAnimal</th>
                <th scope="col">Tropilla</th>
                <th scope="col">Categoria</th>
                <th scope="col">OrejaIzquierda</th>
                <th scope="col">OrejaDerecha</th>
                <th scope="col">Alta</th>
                <th scope="col">Baja</th>
                <th scope="col">Causa</th>
                <th scope="col">Peso</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-warning table-borderless">
            <tr *ngFor="let animal of animales | Filter:filterPost">

                <td class="text-center">
                    <input type="text" size="15" maxlength="15" class="inputs" [(ngModel)]="animal.nombre"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="20"  maxlength="20" class="inputs" [(ngModel)]="animal.idanimal"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="4" maxlength="4" class="inputs" [(ngModel)]="animal.tropilla"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="4" maxlength="4" class="inputs" [(ngModel)]="animal.categoria"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="20" maxlength="20" class="inputs" [(ngModel)]="animal.orejaizquierda"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="20" maxlength="20" class="inputs" [(ngModel)]="animal.orejaderecha"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="30" class="inputs" [(ngModel)]="animal.alta" [disabled]="!animal.editable"
                        [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="30" class="inputs" [(ngModel)]="animal.baja" [disabled]="!animal.editable"
                        [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="4" maxlength="4" class="inputs" [(ngModel)]="animal.causabaja"
                        [disabled]="!animal.editable" [disabled]="!animal.editableAgregar" required>
                </td>

                <td class="text-center">
                    <input type="text" size="4" maxlength="4" class="inputs" [(ngModel)]="animal.peso" [disabled]="!animal.editable"
                        [disabled]="!animal.editableAgregar" required>
                </td>

                <!-----------------------------------------Botones---------------------------------------------------->

                <td class="text-center d-flex">
                    <button [ngClass]="{'invisibilidad': animal.editable}"
                        [ngClass]="{'invisibilidad': animal.agregar}" (click)="editAnimales(animal)"
                        class="btn btn-warning mr-1 btn-sm" title="Editar">
                        Editar
                    </button>


                    <button [ngClass]="{'invisibilidad': !animal.editable}" (click)="putAnimales(animal)"
                        class="btn btn-dark mr-1 btn-sm" title="Confirmar Edicion">
                        Confirmar
                    </button>

                    <button [ngClass]="{'invisibilidad': !animal.editable}" (click)="noEditAnimales(animal)"
                        class="btn btn-secondary mr-1 btn-sm" title="Cancelar Edicion">
                        Cancelar
                    </button>

                    <button [ngClass]="{'invisibilidad': animal.editable}"
                        [ngClass]="{'invisibilidad': animal.agregar}"
                        (click)="deleteAnimales(animal.idanimal)" class="btn btn-danger mr-1 btn-sm"
                        title="Borrar">
                        Borrar
                    </button>

                    <button [ngClass]="{'invisibilidad': !animal.agregar}" (click)="postAnimales(animal)"
                        class="btn btn-primary mr-1 btn-sm" title="Postear">
                        Enviar
                    </button>

                    <button [ngClass]="{'invisibilidad': !animal.agregar}" (click)="noAddAnimales(animal)"
                        class="btn btn-secondary mr-1 btn-sm" title="Cancelar">
                        Cancelar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<br>
<div class="d-flex justify-content-center">
    <button class="btn btn-success" [ngClass]="{'invisibilidad': animal.agregar}" (click)="addAnimales()"
        title="Agregar nuevo animal">
        Agregar nuevo animal
    </button>
</div>
<br>
