
<div style="max-height:75vh; overflow-y: scroll;">
    <table class="table table-responsive-xl table-striped table-warning">
        <thead>
            <tr class="text-center">
                <th scope="col">
                    Tropilla
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Empresa
                </th>
                <th scope="col">
                    Alta
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tropilla of tropillas; let i = index" class="text-center">
                <td>{{tropilla.tropilla}}</td>
                <td>{{tropilla.nombre}}</td>
                <td>{{tropilla.empresa}}</td>
                <td>{{tropilla.alta}}</td>
           
            </tr>
        </tbody>
    </table>
</div>