.capa{
    background: rgba(30, 30, 30, 0.88);
    background-blend-mode: soft-light !important;
    min-height: 100vh; 
}


/*Menù lateral o siderbar*/
#btn-menu{
    display: none;
}

.container-menu{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    min-height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    min-height: 100vh;
    position: relative;
    transition: all 400ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
/* .cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    color: orangered;
} */
.label-cruz{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.label-button{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.label-button:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    color: orangered;
}

.usuario{
    display: flex;
    justify-content: center;
}

h4{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    margin-left: -30px;


}

.username{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: orangered;
    border-left: 5px solid transparent;
    margin-left: -30px;
    text-transform: uppercase;
}

#container-carga{
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;

}

#carga{
    border: 10px solid rgb(228, 228, 228);
    border-top-color: orangered;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

.container-fluid{
    padding: 0 !important;
}
.tablas{
    max-width: 100%;
}

@keyframes girar {
    from {transform: rotate(0deg);} to {transform: rotate(360deg);}
}

@media screen and (min-width: 361px ){
    .capa{
        height: 100%;
    }
}

label{
    margin-bottom: 3px;
    padding-right: 4px;
}

