h1{
    text-align: center;
    color: white;
    transition: ease-out 1s;
    margin-bottom: 120px;
}

h1:hover{
    color: orangered;
    
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.btn{
    margin: auto;
    width: 300px;
    height: 100px;
    text-align: center;
    color: white;
    background-color: orangered;
}