<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <h3>Tabla Animales</h3>
       <app-carga-animales></app-carga-animales>
      </div>
      <div class="carousel-item">
        <h3>Tabla Corrales</h3>
       <app-carga-corral></app-carga-corral>
      </div>
      <div class="carousel-item">
        <h3>Tabla Tropillas</h3>
       <app-carga-tropilla></app-carga-tropilla>
      </div>
      <div class="carousel-item">
        <h3>Tabla Causas de Baja</h3>
        <app-carga-causasbaja></app-carga-causasbaja>
       </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>