<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-7">
        <form action="" class="text-white">
          <div class="form-group">
            <label class="form-label">Lote Corral</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.lotecorral">
        </div>
          <div class="form-group">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.nombre">
          </div>
          <div class="form-group">
            <label class="form-label">Tipo</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.tipo">
        </div>
        <div class="form-group">
            <label class="form-label">Hectareas</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.hectareas">
        </div>
        <div class="form-group">
            <label class="form-label">Numero</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.numero">
        </div>
        <div class="form-group">
            <label class="form-label">Deposito</label>
            <input type="text" class="form-control" placeholder="" name='first' [(ngModel)]="corrales.deposito">
        </div>
          <div class="form-group text-center"><br>
            <button (click)='postCorral(corrales)' class="btn btn-lg btn-outline-secondary text-white h6">Alta de Corral</button>
          </div>
        </form>
        <br><br>
      </div>
    </div>
  </div>

