<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <h3>Tabla Animales</h3>
     <app-vista-animales></app-vista-animales>
    </div>
    <div class="carousel-item">
      <h3>Tabla Corrales</h3>
     <app-vista-corral></app-vista-corral>
    </div>
    <div class="carousel-item">
      <h3>Tabla Tropillas</h3>
     <app-vista-tropilla></app-vista-tropilla>
    </div>
    <div class="carousel-item">
      <h3>Tabla Causas de Baja</h3>
      <app-vista-causasbaja></app-vista-causasbaja>
     </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>