
<div style="max-height:75vh; overflow-y: scroll;">
    <table class="table table-responsive-xl table-striped table-warning">
        <thead>
            <tr class="text-center">
                <th scope="col">
                    Lote_Corral
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Tipo
                </th>
                <th scope="col">
                    Hectareas
                </th>
                <th scope="col">
                    Numero
                </th>
                <th scope="col">
                    Deposito
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let corral of corrales; let i = index" class="text-center">
                <td>{{corral.lotecorral}}</td>
                <td>{{corral.nombre}}</td>
                <td>{{corral.tipo}}</td>
                <td>{{corral.hectareas}}</td>
                <td>{{corral.numero}}</td>
                <td>{{corral.deposito}}</td>
            </tr>
        </tbody>
    </table>
</div>