.table{
    margin-bottom: 0;
}

.visibilidad{
    display: block;
}
.invisibilidad{
    display: none;
}

h3{
    margin-top: -15px;
    margin-bottom: 20px;
   text-align: center;
   color: white;
}

th{
    color: black;
}

.inputs{
    border: 0;
    background-color: transparent;
    display: block;
    width: 100%;
    text-align: center;

}

.table td{
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-color: #ffdf7e; 
}
